<!-- <div class="page-wrapper with-bottom-button">
  <div class="header">
    <div routerLink="/profile/info-nav" class="back-btn moved-left">
      <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
    </div>
    <h1 class="page-title">Графік</h1>
  </div>
  <div class="content">
    <form class="extensions-form">
      <div class="daypicker">
        <div class="daypicker__list">
          <div class="daypicker__item">
            <input id="check1" type="checkbox" [name]="check1" [value]="value" [checked]="checked"/>
            <label for="check1" class="daypicker__label">Пн</label>
          </div>
          <div class="daypicker__item">
            <input id="check2" type="checkbox" [name]="name2" [value]="value" [checked]="checked"/>
            <label for="check2" class="daypicker__label">Вт</label>
          </div>
          <div class="daypicker__item">
            <input id="check3" type="checkbox" [name]="name3" [value]="value"/>
            <label for="check3" class="daypicker__label">Ср</label>
          </div>
          <div class="daypicker__item">
            <input id="check4" type="checkbox" [name]="name4" [value]="value"/>
            <label for="check4" class="daypicker__label">Чт</label>
          </div>
          <div class="daypicker__item">
            <input id="check5" type="checkbox" [name]="name5" [value]="value"/>
            <label for="check5" class="daypicker__label">Пт</label>
          </div>
          <div class="daypicker__item">
            <input id="check6" type="checkbox" [name]="name6" [value]="value"/>
            <label for="check6" class="daypicker__label">Сб</label>
          </div>
          <div class="daypicker__item">
            <input id="check7" type="checkbox" [name]="name7" [value]="value"/>
            <label for="check7" class="daypicker__label">Вс</label>
          </div>
        </div>
      </div>
      <div class="timepicker">
        <div class="timepicker__item">
          <div class="timepicker__button">
            <lm-svg-icon glyph="plus"></lm-svg-icon>
          </div>
          <input type="text" value="09:00" class="timepicker__input"/>
          <div class="timepicker__button">
            <lm-svg-icon glyph="minus"></lm-svg-icon>
          </div>
        </div>
        <div class="timepicker__divider"></div>
        <div class="timepicker__item">
          <div class="timepicker__button">
            <lm-svg-icon glyph="plus"></lm-svg-icon>
          </div>
          <input type="text" value="18:00" class="timepicker__input"/>
          <div class="timepicker__button">
            <lm-svg-icon glyph="minus"></lm-svg-icon>
          </div>
        </div>
      </div>
      <div class="extensions-form__agreement">
        <div class="checkbox">
          <input id="check110" type="checkbox" [name]="name22"/>
          <label for="check110" class="checkbox__label">За домовленістю
            <lm-svg-icon glyph="tick"></lm-svg-icon><span class="checkbox__description">Дату та час можна визначати індивідуально</span>
          </label>
        </div>
      </div>
      <div routerLink="/home" class="button large fixed-bottom">Зберегти зміни</div>
    </form>
  </div>
</div> -->