<div class="page-wrapper with-nav-bar">
  <h1 class="page-title">Сповіщення</h1>
  <div class="notifications">
    <div class="notifications__item">
      <div class="notifications__info">
        <div class="notifications__img-wrapper"><img class="notifications__img"/></div>
        <div class="notifications__text-block"><span class="notifications__name">Оксана Малинець</span><span class="notifications__text">Хоче записатись до вас</span></div>
      </div><span class="notifications__phone">+38 (063) 36 90 655</span>
      <div class="notifications__registration"><span class="notifications__date">17.12.2016<span class="notifications__day-of-week"> (Субота)</span></span><span class="notifications__time">Ввечері</span></div>
    </div>
    <div class="notifications__item">
      <div class="notifications__info">
        <div class="notifications__img-wrapper"><img class="notifications__img"/></div>
        <div class="notifications__text-block"><span class="notifications__name">Оксана Малинець</span><span class="notifications__text">Хоче записатись до вас</span></div>
      </div><span class="notifications__phone">+38 (063) 36 90 655</span>
      <div class="notifications__registration"><span class="notifications__date">17.12.2016<span class="notifications__day-of-week"> (Субота)</span></span><span class="notifications__time">Ввечері</span></div>
    </div>
  </div>
  <div class="notifications-placeholder"><img src="../../../assets/img/placeholder.png" class="notifications-placeholder__img"/>
    <div class="notifications-placeholder__title">Пусто :(</div>
    <div class="notifications-placeholder__text">Вам ще не залишили жодної заявки, поділіться своїю сторінкою з друзями!</div>
    <button class="button">Поділитись</button>
  </div>
  <lm-navbar></lm-navbar>
</div>