<div class="page-wrapper with-bottom-button">
  <div class="header">
    <div routerLink="/profile/info-nav" class="back-btn moved-left">
      <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
    </div>
    <h1 class="page-title">Контакти</h1>
  </div>
  <div class="content">
    <form class="contacts-form">
      <div class="row">
        <label class="label">Телефон</label>
        <div class="form-control-wrapper">
          <input type="tel" placeholder="Телефон" value="+38 (063) 36 90 655" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <label class="label">Вконтакте</label>
        <div class="form-control-wrapper">
          <input type="text" placeholder="vk.com/maksym" value="vk.com/maksym" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <label class="label">Facebook</label>
        <div class="form-control-wrapper">
          <input type="text" placeholder="vk.com/maksym" value="vk.com/maksym" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <label class="label">Instagram</label>
        <div class="form-control-wrapper">
          <input type="text" placeholder="vk.com/maksym" value="vk.com/maksym" class="form-control"/>
        </div>
      </div>
    </form>
  </div>
</div>
<div routerLink="/home" class="button large fixed-bottom">Зберегти зміни</div>