
<div class="page-wrapper with-nav-bar">
  <div class="jumbotron">
    <lm-header view="home-view"></lm-header>
    <div class="jumbotron__img-wrapper">
      <img class="jumbotron__img" src="../../../../assets/img/jumbotron_bg.jpg">
    </div>
    <div class="jumbotron__text-block">
      <div class="jumbotron__title">Тому, що я  досі шукаю</div>
      <div class="jumbotron__sub-title">Шукаю майстра краси</div>
    </div>
    <lm-search-box view="home-view"></lm-search-box>
  </div>
  <div class="top-request">
    <div class="top-request__container">
      <div class="top-request__title">Послуги та популярні запити користувачів</div>
      <div class="top-request__list">
        <div class="top-request__item">
          <img class="top-request__img" src="../../../../assets/img/popular-request-large.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item light-background">
          <img class="top-request__img" src="../../../../assets/img/popular-request-2.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item icon-item">
          <div class="top-request__text-block">
            <div class="top-request__icon-wrapper">
              <lm-svg-icon glyph="top-request"></lm-svg-icon>
            </div>
            <div class="top-request__text">TOП запит</div>
            <div class="top-request__item-title">Візаж на весілля</div>
          </div>
        </div>
        <div class="top-request__item light-background">
          <img class="top-request__img" src="../../../../assets/img/popular-request-4.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item">
          <img class="top-request__img" src="../../../../assets/img/popular-request-3.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item light-background">
          <img class="top-request__img" src="../../../../assets/img/popular-request-4.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item light-background">
          <img class="top-request__img" src="../../../../assets/img/popular-request-2.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item icon-item">
          <div class="top-request__text-block">
            <div class="top-request__icon-wrapper">
              <lm-svg-icon glyph="top-request"></lm-svg-icon>
            </div>
            <div class="top-request__text">TOП запит</div>
            <div class="top-request__item-title">Візаж на весілля</div>
          </div>
        </div>
        <div class="top-request__item">
          <img class="top-request__img" src="../../../../assets/img/popular-request-3.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item light-background">
          <img class="top-request__img" src="../../../../assets/img/popular-request-4.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item light-background">
          <img class="top-request__img" src="../../../../assets/img/popular-request-2.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item">
          <img class="top-request__img" src="../../../../assets/img/popular-request-3.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
        <div class="top-request__item light-background">
          <img class="top-request__img" src="../../../../assets/img/popular-request-4.jpg">
          <div class="top-request__text-block">
            <div class="top-request__item-title">Нігтьовий сервіс</div>
            <div class="top-request__text">87 майстрів</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-master">
    <div class="about-master__content">
      <div class="about-master__text-block">
        <div class="about-master__title">Ви майстер?</div>
        <div class="about-master__text">І ви ще досі користуєтесь OLX, Vkontakte та Instagram</div>
        <button class="button rounded">Дізнатися детальніше</button>
      </div>
      <div class="about-master__img-wrapper">
        <img class="about-master__img" src="../../../../assets/img/men@2x.png">
      </div>
      <div class="about-master__history-block">
        <p class="about-master__history">Його зброя - ножниці і гребінець. Його вміння - бачити прекрасне. Його трагедія - посічені кінчики.</p><span class="about-master__name">Кіра</span>
      </div>
    </div>
  </div>
  <div class="best-masters">
    <div class="best-masters__title">Одні з найкращих майстрів</div>
    <div class="best-masters__slider">
      <!-- <lm-master-card view="home-view"></lm-master-card>
      <lm-master-card view="home-view"></lm-master-card>
      <lm-master-card view="home-view"></lm-master-card>
      <lm-master-card view="home-view"></lm-master-card> -->
    </div>
  </div>
  <lm-footer></lm-footer>
  <lm-navbar></lm-navbar>
</div>