<div class="page-wrapper with-bottom-button">
  <div class="profile">
    <div class="profile__header">
      <div class="profile__panel">
        <div class="profile__panel-text">Редагування</div>

        <div class="profile__panel-btn right">
          <svg class="icon icon-cross" routerLink="/profile/view">
            <use xlink:href="./assets/img/svg/sprite.svg#icon-cross"></use>
          </svg>
        </div>
      </div>
      <div class="profile__wallpaper"><img src="../../../assets/img/placeholder.png" class="profile__wallpaper-img"/></div>
      <div class="profile__info">
        <div class="profile__info-row bottom">
          <div class="profile__subscribe-btn">Змінити фон
            <svg class="icon icon-add">
              <use xlink:href="./assets/img/svg/sprite.svg#icon-add"></use>
            </svg>
          </div>
          <div class="profile__portrait"><img src="../../../assets/img/placeholder.png" class="profile__portrait-img"/>
            <svg class="icon icon-camera">
              <use xlink:href="./assets/img/svg/sprite.svg#icon-camera"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__content">
      <div>
        <li  *ngFor="let user of users | async">
            {{user.$value}}
        </li>
        <li  *ngFor="let user of users | async">
            {{user.uid}}
        </li>
        <li *ngFor="let user of users | async">
            {{user}}
        </li>
      </div>
      <div>
        <h2>Profile Edit</h2>
        <p>{{form.pristine}}</p>
        <p>Profile: {{profile | json }}</p>
        <p>Angular: {{ form.value | json }}</p>
      </div>
      <form #form="ngForm" class="profile__edit-form">
        <div class="row">
          <label class="label">Ім'я та прізвище</label>
          <p>userName.dirty {{userName.dirty }}</p>
          <p>userName.pristine {{userName.pristine }}</p>
          <p>userName.untouched {{ userName.untouched }}</p>
          <p>userName.touched {{ userName.touched }}</p>
          <p>userName.valid {{ userName.valid }}</p>
          <p>userName.unvalid {{ userName.unvalid }}</p>
          <div class="form-control-wrapper">
            <input #userName="ngModel" class="form-control" 
            required type="text" placeholder="Ім'я та прізвище" 
            name="userName" [(ngModel)]="profile.userName"/>
          </div>
          <div *ngIf="userName.invalid && userName.dirty" class="alert alert_danger">We have to know your name!!</div>
        </div>
        <div class="row">
          <label class="label">Email</label>
          <div class="form-control-wrapper">
            <input #email="ngModel" class="form-control" 
            type="text" validateEmail placeholder="blabla@gmail.com" 
            name="email" [(ngModel)]="profile.email"/>
          </div>
          <div *ngIf="email.invalid && email.dirty" class="alert alert_danger">We have to know youre mail!!</div>
        </div>
        <div class="row">
          <label class="label">Phone</label>
          <div class="form-control-wrapper">
            <input #phone="ngModel" pattern="^\+380\d{3}\d{2}\d{2}\d{2}$" class="form-control" 
            required type="text" placeholder="+380552299888" 
            name="phone" [(ngModel)]="profile.phone"/>
          </div>
          <div *ngIf="phone.invalid && phone.dirty" class="alert alert_danger">We have to know your phone!!</div>
        </div>
        <div class="row">
            <label class="label">Місто</label>
            <div class="form-control-wrapper">
              <select class="form-control" name="userCity" required [(ngModel)]="profile.city" placeholder="Місто" >
                <option *ngFor="let city of cities">
                  {{city}}
                </option>
              </select>
            </div>
        </div>
        <div class="row">
          <div class="checkbox">
            <input id="workAtClientHome" type="checkbox"  [(ngModel)]="profile.workAtClientHome" name="workAtClientHome" />
            <label for="workAtClientHome" class="checkbox__label">Виїзд на дім
              <svg class="icon icon-tick">
                <use xlink:href="./assets/img/svg/sprite.svg#icon-tick"></use>
              </svg>
              <span class="checkbox__description">Я приїду до клієнта додому</span>
            </label>
          </div>
        </div>  
        <div class="row">
          <label class="label">Тип валюти для оплати</label>
          <div class="radio">
              <input id="eur" type="radio" name="payType" value="EUR" [(ngModel)]="profile.payType" checked/>
              <label class="radio__label" for="eur">EUR
              </label>
            </div>
          <div class="radio">
              <input id="usd" type="radio" name="payType" [(ngModel)]="profile.payType"  value="USD"/>
              <label class="radio__label" for="usd">USD
              </label>
            </div>
        </div>
        <div class="row">
          <label class="label">Про мене</label>
          <textarea placeholder="Про мене" class="textarea" [(ngModel)]="profile.about" name="about"> {{profile.about}}</textarea>
        </div>
        <div class="row">
          <label class="label">Теги</label>
          <textarea placeholder="Теги" class="textarea" [(ngModel)]="profile.tagList" name="tagList">{{profile.tagList}}</textarea>
        </div>
        <div class="row">
          <label class="label">Працюю на дому</label>
          <div class="form-control-wrapper">
            <input type="text" placeholder="Домашня Адреса" class="form-control" [(ngModel)]="profile.homeAddress" name="homeAddress"/>
          </div>
        </div>
        <div class="row">
          <label class="label">Працюю в салоні</label>
          <div class="form-control-wrapper">
            <input type="text" placeholder="Адреса салону" class="form-control" [(ngModel)]="profile.workAddress" name="workAddress"/>
          </div>
        </div>

      </form>
      <div class="specialty-edit">
        <div class="specialty-edit__header">
          <div class="specialty-edit__title">Спеціалізації</div>
          <div class="specialty-edit__add-btn">Додати
            <lm-svg-icon glyph="add"></lm-svg-icon>
          </div>
        </div>
        <div class="specialty-edit__list">
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Маникюр</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <svg class="icon icon-cross">
                <use xlink:href="./assets/img/svg/sprite.svg#icon-cross"></use>
              </svg>
            </div>
          </div>
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Візаж</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <svg class="icon icon-cross">
                <use xlink:href="../../../assets/img/svg/sprite.svg#icon-cross"></use>
              </svg>
            </div>
          </div>
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Мейкап</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <svg class="icon icon-cross">
                <use xlink:href="./assets/img/svg/sprite.svg#icon-cross"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="editProfile()" type="submit" [disabled]="form.invalid" class="button large fixed-bottom">Зберегти зміни</button>
</div>