<!-- <div class="page-wrapper with-bottom-button">
  <div class="profile">
    <div class="profile__header">
      <div class="profile__panel">
        <div class="profile__panel-text">Редагування</div>
        <div class="profile__panel-btn right">
          <lm-svg-icon glyph="cross" routerLink="/view"></lm-svg-icon>
        </div>
      </div>
      <div class="profile__wallpaper"><img src="../../../assets/img/placeholder.png" class="profile__wallpaper-img"/></div>
      <div class="profile__info">
        <div class="profile__info-row bottom">
          <div class="profile__subscribe-btn">Змінити фон
            <lm-svg-icon glyph="add"></lm-svg-icon>
          </div>
          <div class="profile__portrait"><img src="../../../assets/img/placeholder.png" class="profile__portrait-img"/>
            <lm-svg-icon glyph="camera"></lm-svg-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__content">
      <form class="profile__edit-form">
        <div class="row">
          <label class="label">Ім'я та прізвище</label>
          <div class="form-control-wrapper">
            <input type="Text" placeholder="Ім'я та прізвище" value="Hanna Yanicka" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <label class="label">Місто</label>
          <div class="form-control-wrapper">
            <input type="Text" placeholder="Місто" value="Львів" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <label class="label">Про мене</label>
          <textarea type="Text" placeholder="Про мене" class="textarea">Breas augmentatio; Affordable Cosmetic Plastic Surgery Philippines"</textarea>
        </div>
        <div class="row">
          <label class="label">Теги</label>
          <textarea type="Text" placeholder="Теги" class="textarea">#Hannayanicka, #Lviv, #Ukraine, #Nails, #Hair, #Beautymaster</textarea>
        </div>
        <div class="row">
          <label class="label">Працюю на дому</label>
          <div class="form-control-wrapper">
            <input type="Text" placeholder="Домашня Адреса" class="form-control"/>
          </div>
        </div>
        <div class="row">
          <label class="label">Працюю в салоні</label>
          <div class="form-control-wrapper">
            <input type="Text" placeholder="Адреса салону" class="form-control"/>
          </div>
        </div>
        <div class="checkbox">
          <input id="check2" type="checkbox" [name]="name1" [checked]="checked"/>
          <label for="check2" class="checkbox__label">Виїзд на дім
            <lm-svg-icon glyph="tick"></lm-svg-icon><span class="checkbox__description">Я приїду до клієнта додому</span>
          </label>
        </div>
      </form>
      <div class="specialty-edit">
        <div class="specialty-edit__header">
          <div class="specialty-edit__title">Спеціалізації</div>
          <div class="specialty-edit__add-btn">Додати
            <lm-svg-icon glyph="add"></lm-svg-icon>
          </div>
        </div>
        <div class="specialty-edit__list">
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Маникюр</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <lm-svg-icon glyph="cross"></lm-svg-icon>
            </div>
          </div>
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Візаж</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <lm-svg-icon glyph="cross"></lm-svg-icon>
            </div>
          </div>
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Мейкап</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <lm-svg-icon glyph="cross"></lm-svg-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div routerLink="/home" class="button large fixed-bottom">Зберегти зміни</div>
</div> -->