<div class="master-card {{view}}">
  <div class="master-card__header">
    <div class="master-card__portrait-wrapper">
      <!-- <img [src]="masterPortrait?.userPortrait" class="master-card__portrait"/> -->
    </div>
    <div class="master-card__info">
      <!-- <div class="master-card__name">{{masterCard.masterName}}</div> -->
      <div class="master-card__subscribe-btn">Cлідкувати
        <lm-svg-icon glyph="add"></lm-svg-icon>
      </div>
    </div>
  </div>
  <div class="master-card__gallery">
    <div class="master-card__gallery-item"><img src="../../../../assets/img/placeholder.png" class="master-card__gallery-img"/></div>
    <div class="master-card__gallery-item"><img src="../../../../assets/img/placeholder.png" class="master-card__gallery-img"/></div>
    <div class="master-card__gallery-item"><img src="../../../../assets/img/placeholder.png" class="master-card__gallery-img"/></div>
  </div>
</div>