<lm-header></lm-header>
<div class="page-wrapper with-nav-bar">
  <div class="header">
    <h1 class="page-title">Колекції</h1>
    <div class="tabs">
      <div class="tabs__item">Фотострічка</div>
      <div class="tabs__item">Майстри</div>
    </div>
  </div>
  <div class="content">
    <!-- <lm-master-card></lm-master-card>
    <lm-work-card></lm-work-card> -->
    <div class="collections-placeholder">
      <div class="collections-placeholder__img-wrapper"><img src="../../../assets/img/placeholder.png" class="collections-placeholder__img"/></div>
      <div class="collections-placeholder__title">Пусто :(</div>
      <div class="collections-placeholder__text">Спробуйте знайти щось<br/>ось тут</div>
      <div class="collections-placeholder__arrow"></div>
    </div>
  </div>
  <lm-navbar></lm-navbar>
</div>