<div class="page-wrapper with-nav-bar">
  <div class="header">
    <form class="search" (submit)="search(term.value)">
      <input #term (keyup)="search(term.value)" [value]="terms" type="search"  placeholder="Що шукаєте?" class="search__input"/>
      <lm-svg-icon glyph="search" class="search__icon"></lm-svg-icon>
    </form>
    <p>Total results: {{total$ | async}}</p>
  </div>
  <div class="content">
    <div class="search-categories">
      <header class="search-categories__header">
        <h3 class="search-categories__title">Послуги</h3><a class="search-categories__all"> Усі послуги
          <lm-svg-icon glyph="next"></lm-svg-icon></a>
      </header>
      <div class="search-categories__list">
        <div class="search-categories__item" *ngFor="let category of items$ | async">
          <div class="search-categories__img-wrapper"><img [src]="category.img" class="search-categories__img"/></div>
          <h4 class="search-categories__item-title">{{category.title}}</h4><span class="search-categories__text"><span class="search-categories__counter">15</span>майстрів</span>
        </div>
      </div>
    <lm-pagination [total]="total$ | async" [page]="page" (goTo)="goToPage($event)"></lm-pagination>
    </div>
  </div>
  <lm-navbar></lm-navbar>
</div>