<div class="page-wrapper with-bottom-button">
  <div class="header">
    <div routerLink="/profile" class="back-btn moved-left">
      <i class="svg-arrow-right svg-arrow-right-dims"></i>
    </div>
    <h1 class="page-title">Портфоліо</h1>
  </div>
  <div class="content">
    <!-- <lm-work-card view="potfolio-view"></lm-work-card>
    <lm-work-card view="potfolio-view"></lm-work-card>
    <lm-work-card view="potfolio-view"></lm-work-card> -->
  </div>
  <div routerLink="/portfolio/category" class="button large fixed-bottom">Завантажити роботу</div>
</div>