@import '../../../../../assets/styles/_variables.styl'

:host
  display: block
.page-wrapper
  padding-top: 0
  padding-left: 0
  padding-right: 0
.signup-mail
  &__content
    padding-top: 40px
  &__text
    @extend .text
    text-align: center
    margin-bottom: 20px
  &__form
    .form-control-wrapper
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
