 <lm-mobile-sub-nav [(navState)]="navState" *ngIf="navState"></lm-mobile-sub-nav> 
<div class="header {{view}}">

  <div (click)="openMobileSubNav()" class="mobile-sub-nav-btn">
    <i class="svg-mobile-nav svg-mobile-nav-dims"></i>
  </div>

  <strong class="logo"><a href="#">lookmaster</a></strong>

  <lm-search-box></lm-search-box>

  <div class="header__controls">
    <div *ngIf="!currentUser" class="header__sub-nav">
      <a routerLink="/login" class="header__sub-nav-item">Увійти</a>
      <a routerLink="/signup" class="header__sub-nav-item">Зареєструватись</a>
    </div>
    <div *ngIf="currentUser" class="header__sub-nav">
       <a  class="header__sub-nav-item">{{currentUser.displayName}} </a>
       <!-- <a  class="header__sub-nav-item">{{userRole}} </a> -->
       <a (click)="logout()" class="header__sub-nav-item">Вихід</a>
    </div>
    </div>
</div>