<div class="page-wrapper with-bottom-button">
  <div class="header">
    <div routerLink="/profile" class="back-btn moved-left">
      <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
    </div>
  </div>
  <h1 class="page-title">Інформація</h1>
  <div class="content">
    <form class="info-form">
      <div class="row">
        <label class="label">Ім'я та прізвище</label>
        <div class="form-control-wrapper">
          <input type="Text" placeholder="Ім'я та прізвище" value="Hanna Yanicka" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <label class="label">Місто</label>
        <div class="form-control-wrapper">
          <input type="text" placeholder="Місто" value="Львів" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <label class="label">Телефон</label>
        <div class="form-control-wrapper">
          <input type="tel" placeholder="Телефон" value="+38 (063) 36 90 655" class="form-control"/>
        </div>
      </div>
    </form>
  </div>
</div>
<div routerLink="/home" class="button large fixed-bottom">Зберегти зміни</div>