@import '../../../../assets/styles/_variables.styl'

.employees
    max-width: 800px
    &__list
        margin-bottom: 20px
    &__form
        display: flex
        .form-control-wrapper
            flex: 3
        .form-btn-group
            flex: 1
            .button
                width: 100%