<!-- <div class="page-wrapper with-bottom-button">
  <div class="header">
    <div routerLink="/profile" class="back-btn moved-left">
      <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
    </div>
    <h1 class="page-title">Сповіщення</h1>
  </div>
  <div class="content">
    <form class="form">
      <div class="checkbox">
        <input id="check1" type="checkbox" [name]="name" [checked]="checked"/>
        <label for="check1" class="checkbox__label">СМС сповіщення
          <lm-svg-icon glyph="tick"></lm-svg-icon><span class="checkbox__description">Надсилати смс про заявки від клієнтів</span>
        </label>
      </div>
      <div class="checkbox">
        <input id="check2" type="checkbox" [name]="name1" [checked]="checked"/>
        <label for="check2" class="checkbox__label">Email сповіщення
          <lm-svg-icon glyph="tick"></lm-svg-icon><span class="checkbox__description">Надсилати смс про заявки від клієнтів</span>
        </label>
      </div>
      <div routerLink="/home" class="button large fixed-bottom">Зберегти зміни</div>
    </form>
  </div>
</div> -->