.pagination
    display: flex
    
    &__item
        width: 40px
        height: 40px
        margin: 0 5px
        border: 1px solid gray
        border-radius: 3px
        cursor: pointer
        display: flex
        background: #DCDCDC
        align-items: center
        font-size: 20px
        justify-content: center