<div class="page-wrapper with-bottom-button">
  <div class="header">
    <div routerLink="/profile" class="back-btn moved-left">
      <i class="svg-arrow-right svg-arrow-right-dims"></i>
    </div>
    <h1 class="page-title"> Розширення</h1>
  </div>
  <div class="content">
    <div class="extensions">
      <div class="extensions__item">
        <div class="extensions__header">
          <div class="extensions__title">Vk.com</div>
          <div class="extensions__cancel-btn">Відмінити
            <lm-svg-icon glyph="next"></lm-svg-icon>
          </div>
        </div>
        <div class="extensions__content">
          <div class="extensions__portrait-wrapper"><img src="../../../assets/img/placeholder.png" class="extensions__portrait"/></div>
          <div class="extensions__text-block">
            <div class="extensions__name">Hanna Yelevecka</div>
            <div class="extensions__info">Доступ до базовох інформації</div>
          </div>
        </div>
      </div>
      <div class="extensions__item">
        <div class="extensions__header">
          <div class="extensions__title">Vk.com</div>
          <div class="extensions__cancel-btn">Відмінити
            <lm-svg-icon glyph="next"></lm-svg-icon>
          </div>
        </div>
        <div class="extensions__content">
          <div class="extensions__portrait-wrapper"><img src="../../../assets/img/placeholder.png" class="extensions__portrait"/></div>
          <div class="extensions__text-block">
            <div class="extensions__name">Hanna Yelevecka</div>
            <div class="extensions__info">Доступ до базовох інформації</div>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="/home" class="button large fixed-bottom">Зберегти зміни</div>
  </div>
</div>