<div class="page-wrapper with-bottom-button">
    <div class="edit-work">
      <div class="header">
        <div routerLink="/portfolio/photos" class="back-btn moved-left">
          <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
        </div>
        <div class="edit-work__counter"><span>1</span>/<span>10</span></div>
      </div>
      <div class="content">
        <div class="edit-work__img-wrapper"><img src="../../../assets/img/placeholder.png" class="edit-work__img"/>
          <div class="edit-work__btn remove-btn">
            <lm-svg-icon glyph="cross"></lm-svg-icon>
          </div>
        </div>
        <div class="row">
          <label class="label">Теги</label>
          <textarea type="Text" placeholder="Теги" class="textarea">#Hannayanicka, #Lviv, #Ukraine, #Nails, #Hair, #Beautymaster</textarea>
        </div>
      </div>
    </div>
  </div>
  <div routerLink="/home" class="button large fixed-bottom">Зберегти зміни</div>