<div class="nav-bar">
    <a routerLinkActive="active" routerLink="/home" class="nav-bar__item">
        <i class="svg-home svg-home-dims"></i>
    </a>
    <a routerLinkActive="active" routerLink="/collections" class="nav-bar__item">
        <i class="svg-collections svg-collections-dims"></i>
    </a>
    <a routerLinkActive="active" routerLink="/search" class="nav-bar__item">
        <i class="svg-search svg-search-dims"></i>
    </a>
    <a routerLinkActive="active" routerLink="/notifications" class="nav-bar__item">
        <i class="svg-notification svg-notification-dims"></i>
    </a>
    <a routerLinkActive="active" routerLink="/profile" class="nav-bar__item">
        <i class="svg-profile svg-profile-dims"></i>
    </a>
</div>