<div class="nav-bar">
    <a routerLinkActive="active" routerLink="/home" class="nav-bar__item">
        <svg class="icon icon-home">
            <use xlink:href="./assets/img/svg/sprite.svg#icon-home"></use>
        </svg>
    </a>
    <a routerLinkActive="active" routerLink="/collections" class="nav-bar__item">
        <svg class="icon icon-collections">
            <use xlink:href="./assets/img/svg/sprite.svg#icon-collections"></use>
        </svg>
    </a>
    <a routerLinkActive="active" routerLink="/search" class="nav-bar__item">
        <svg class="icon icon-search">
            <use xlink:href="./assets/img/svg/sprite.svg#icon-search"></use>
        </svg>
    </a>
    <a routerLinkActive="active" routerLink="/notifications" class="nav-bar__item">
        <svg class="icon icon-notification">
            <use xlink:href="./assets/img/svg/sprite.svg#icon-notification"></use>
        </svg>
    </a>
    <a routerLinkActive="active" routerLink="/profile" class="nav-bar__item">
        <svg class="icon icon-profile">
            <use xlink:href="./assets/img/svg/sprite.svg#icon-profile"></use>
        </svg>
    </a>
</div>