<div class="page-wrapper">
    <div class="header">
      <div routerLink="/portfolio/category" class="close-btn moved-right">
        <lm-svg-icon glyph="cross"></lm-svg-icon>
      </div>
    </div>
    <div class="content">
      <div class="portfolio-download">
        <h1 class="portfolio-download__title">Всі роботи в одному місці</h1>
        <h2 class="portfolio-download__text">Під'єднайте ваші акаунти до Lookmaster та завантажуйте роботи максимально швидко</h2>
        <div class="portfolio-download__button-group">
          <div routerLink="/portfolio/photos" class="button rounded facebook">
            <lm-svg-icon glyph="facebook" class="social-icon"></lm-svg-icon>Завантажити з Facebook
          </div>
          <div routerLink="/portfolio/photos" class="button rounded vkontakte">
            <lm-svg-icon glyph="vkontakte" class="social-icon"></lm-svg-icon>Завантажити з Вконтакте
          </div>
          <div routerLink="/portfolio/photos" class="button rounded vkontakte">
            <lm-svg-icon glyph="instagram" class="social-icon"></lm-svg-icon>Завантажити з Instagram
          </div>
        </div>
        <div routerLink="/portfolio/photos" class="portfolio-download__phone">Завантажити з телефона</div>
      </div>
    </div>
  </div>