<div class="page-wrapper with-bottom-button">
  <div class="header">
    <div routerLink="/portfolio/download" class="back-btn moved-left">
      <i class="svg-arrow-right svg-arrow-right-dims"></i>
    </div>
  </div>
  <h1 class="page-title">Завантажте світлини</h1>
  <div class="content">
    <div class="form-control-wrapper">
      <input type="file" name="files[]" multiple (change)="filesLoad($event)"/>
      <br>
      <div *ngFor="let file of fileList">
          <div>
              <img class="work-card-preview" [src]="file.imageSRC" alt="Image preview..."> 
              <span>{{file.fileName}}</span>
          </div>
      </div> 
    </div>
  </div>
  <div class="button large fixed-bottom" (click)="createWorkCardsFromList()">Завантажити роботу<span class="button-counter">{{fileList.length}}</span> </div>
</div>