<div class="page-wrapper with-nav-bar">
  <div class="header">
    <h1 class="page-title">Профіль</h1>
  </div>
  <div class="content">
    <div class="add-nav">
      <div routerLink="/view" class="add-nav__item">Username
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/profile/info" class="add-nav__item">Інформація
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/profile/info-nav" class="add-nav__item">Інформація (for master)
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/portfolio" class="add-nav__item">Портфоліо
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/profile/notifications-settings" class="add-nav__item">Сповіщення
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/profile/extensions" class="add-nav__item">Розширення
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/profile/security" class="add-nav__item">Безпека
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
    </div>
  </div>
  <lm-navbar></lm-navbar>
</div>