<div class="page-wrapper with-bottom-button">
  <div class="profile">
    <div class="profile__header">
      <div class="profile__panel">
        <div class="profile__panel-text">Редагування</div>

        <div class="profile__panel-btn right">
          <svg class="icon icon-cross" routerLink="/profile/view">
            <use xlink:href="./assets/img/svg/sprite.svg#icon-cross"></use>
          </svg>
        </div>
      </div>
      <div class="profile__wallpaper"><img src="../../../assets/img/placeholder.png" class="profile__wallpaper-img"/></div>
      <div class="profile__info">
        <div class="profile__info-row bottom">
          <div class="profile__subscribe-btn">Змінити фон
            <svg class="icon icon-add">
              <use xlink:href="./assets/img/svg/sprite.svg#icon-add"></use>
            </svg>
          </div>
          <div class="profile__portrait"><img src="../../../assets/img/placeholder.png" class="profile__portrait-img"/>
            <svg class="icon icon-camera">
              <use xlink:href="./assets/img/svg/sprite.svg#icon-camera"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__content">
      <div>
        <h2>Profile Edit Reactive</h2>
      </div>
      <div>
      </div>
      <form [formGroup]="profileEditForm" class="profile__edit-form">
        <div class="row">
          <label class="label">Ім'я та прізвище</label>
          <div class="form-control-wrapper">
            <input class="form-control" formControlName="userName" required type="text" placeholder="Ім'я та прізвище" />
          </div>
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert_danger">
            <span>We have to know your name!!</span>
          </div>
        </div>
        <div class="row">
          <label class="label">Email</label>
          <div class="form-control-wrapper">
            <input class="form-control" type="text" placeholder="blabla@gmail.com" formControlName="email"/>
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert_danger">
            <span>We have to know your name!!</span>
          </div>
        </div>
        <div class="row">
          <label class="label">Phone</label>
          <div class="form-control-wrapper">
            <input class="form-control" required type="text" placeholder="+380552299888" formControlName="phone" />
          </div>
          <!-- <div *ngIf="phone.invalid && phone.dirty" class="alert alert_danger">We have to know your phone!!</div> -->
        </div>
        <div class="row">
            <label class="label">Місто</label>
            <div class="form-control-wrapper">
              <select class="form-control" formControlName="city" required  placeholder="Місто" >
                <option *ngFor="let city of cities" [value]="city.value">
                  {{city}}
                </option>
              </select>
            </div>
        </div>
        <div class="row">
          <div class="checkbox">
            <input id="workAtClientHome" type="checkbox" formControlName="workAtClientHome" />
            <label for="workAtClientHome" class="checkbox__label">Виїзд на дім
              <svg class="icon icon-tick">
                <use xlink:href="./assets/img/svg/sprite.svg#icon-tick"></use>
              </svg>
              <span class="checkbox__description">Я приїду до клієнта додому</span>
            </label>
          </div>
        </div>  
        <div class="row">
          <label class="label">Тип валюти для оплати</label>
          <div class="radio">
              <input id="eur" type="radio" formControlName="payType" value="EUR" checked/>
              <label class="radio__label" for="eur">EUR
              </label>
            </div>
          <div class="radio">
              <input id="usd" type="radio" formControlName="payType" value="USD"/>
              <label class="radio__label" for="usd">USD
              </label>
            </div>
        </div>
        <div class="row">
          <label class="label">Про мене</label>
          <textarea placeholder="Про мене" class="textarea" formControlName="about"> {{profile.about}}</textarea>
        </div>
        <div class="row">
          <label class="label">Теги</label>
          <textarea placeholder="Теги" class="textarea">{{profile.tagList}}</textarea>
        </div>
        <div class="row">
          <label class="label">Працюю на дому</label>
          <div class="form-control-wrapper">
            <input type="text" placeholder="Домашня Адреса" class="form-control" formControlName="homeAddress"/>
          </div>
        </div>
        <div class="row">
          <label class="label">Працюю в салоні</label>
          <div class="form-control-wrapper">
            <input type="text" placeholder="Адреса салону" class="form-control" formControlName="workAddress"/>
          </div>
        </div>

        
        
      </form>
      <div class="specialty-edit">
        <div class="specialty-edit__header">
          <div class="specialty-edit__title">Спеціалізації</div>
          <div class="specialty-edit__add-btn">Додати
            <lm-svg-icon glyph="add"></lm-svg-icon>
          </div>
        </div>
        <div class="specialty-edit__list">
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Маникюр</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <svg class="icon icon-cross">
                <use xlink:href="./assets/img/svg/sprite.svg#icon-cross"></use>
              </svg>
            </div>
          </div>
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Візаж</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <svg class="icon icon-cross">
                <use xlink:href="../../../assets/img/svg/sprite.svg#icon-cross"></use>
              </svg>
            </div>
          </div>
          <div class="specialty-edit__item">
            <div class="specialty-edit__info">
              <div class="specialty-edit__img-wrapper"><img src="../../../assets/img/placeholder.png" class="specialty__img"/></div>
              <div class="specialty-edit__item-title">Мейкап</div>
            </div>
            <div class="specialty-edit__remove-btn">
              <svg class="icon icon-cross">
                <use xlink:href="./assets/img/svg/sprite.svg#icon-cross"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="editProfile()" type="submit" class="button large fixed-bottom">Зберегти зміни</button>
</div>