<div class="page-wrapper with-nav-bar">
  <div class="header">
    <div routerLink="/profile" class="back-btn moved-left">
      <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
    </div>
  </div>
  <h1 class="page-title">Інформація</h1>
  <div class="content">
    <div class="add-nav">
      <div routerLink="/profile/info" class="add-nav__item">Загальна
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/profile/contacts" class="add-nav__item">Контакти
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
      <div routerLink="/profile/schedule" class="add-nav__item">Графік
        <lm-svg-icon glyph="arrow-right"></lm-svg-icon>
      </div>
    </div>
  </div>
  <lm-navbar></lm-navbar>
</div>