<div class="search-box {{view}}">
  <div class="search-box__holder">
    <div class="dropdown">
      <div class="dropdown-toggle">Послуги
        <lm-svg-icon glyph="next-sign"></lm-svg-icon>
      </div>
    </div>
  </div>
  <div class="search-box__search">
    <input type="search" placeholder="Послуга, майстер або салон"/>
    <lm-svg-icon glyph="search"></lm-svg-icon>
  </div>
  <div class="search-box__holder">
    <div class="dropdown">
      <div class="dropdown-toggle">Місто
        <lm-svg-icon glyph="next-sign"></lm-svg-icon>
      </div>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="search-box__holder">
    <div class="dropdown">
      <div class="dropdown-toggle">Ще фільтр
        <lm-svg-icon glyph="next-sign"></lm-svg-icon>
      </div>
      <div class="dropdown-menu"></div>
    </div>
  </div>
  <div class="search-box__button-holder">
    <button class="button small rounded">Знайти</button>
  </div>
</div>