$svg-common 
	background url("svg/sprite.css-9662933e.svg") no-repeat

.svg-add
	@extend $svg-common
	background-position 29.447852760736197% 79.3103448275862%

.svg-add-dims
	width 24px
	height 24px

.svg-add-disabled
	@extend $svg-common
	background-position 58.895705521472394% 79.3103448275862%

.svg-add-disabled-dims
	width 24px
	height 24px

.svg-arrow-right
	@extend $svg-common
	background-position 22.085889570552148% 27.586206896551722%

.svg-arrow-right-dims
	width 24px
	height 24px

.svg-camera
	@extend $svg-common
	background-position 36.809815950920246% 27.586206896551722%

.svg-camera-dims
	width 24px
	height 24px

.svg-collections
	@extend $svg-common
	background-position 51.533742331288344% 27.586206896551722%

.svg-collections-dims
	width 24px
	height 24px

.svg-cross
	@extend $svg-common
	background-position 66.25766871165644% 27.586206896551722%

.svg-cross-dims
	width 24px
	height 24px

.svg-eye
	@extend $svg-common
	background-position 0 58.62068965517241%

.svg-eye-dims
	width 24px
	height 24px

.svg-facebook
	@extend $svg-common
	background-position 14.723926380368098% 58.62068965517241%

.svg-facebook-dims
	width 24px
	height 24px

.svg-filter
	@extend $svg-common
	background-position 29.447852760736197% 58.62068965517241%

.svg-filter-dims
	width 24px
	height 24px

.svg-home
	@extend $svg-common
	background-position 44.171779141104295% 58.62068965517241%

.svg-home-dims
	width 24px
	height 24px

.svg-instagram
	@extend $svg-common
	background-position 58.895705521472394% 58.62068965517241%

.svg-instagram-dims
	width 24px
	height 24px

.svg-like-solid
	@extend $svg-common
	background-position 0 79.3103448275862%

.svg-like-solid-dims
	width 24px
	height 24px

.svg-like-stroke
	@extend $svg-common
	background-position 14.723926380368098% 79.3103448275862%

.svg-like-stroke-dims
	width 24px
	height 24px

.svg-logo-footer
	@extend $svg-common
	background-position 0 0

.svg-logo-footer-dims
	width 139px
	height 32px

.svg-minus
	@extend $svg-common
	background-position 44.171779141104295% 79.3103448275862%

.svg-minus-dims
	width 24px
	height 24px

.svg-mobile-nav
	@extend $svg-common
	background-position 0 30.76923076923077%

.svg-mobile-nav-dims
	width 36px
	height 36px

.svg-next
	@extend $svg-common
	background-position 85.2760736196319% 0

.svg-next-dims
	width 24px
	height 24px

.svg-next-sign
	@extend $svg-common
	background-position 85.2760736196319% 20.689655172413794%

.svg-next-sign-dims
	width 24px
	height 24px

.svg-notification
	@extend $svg-common
	background-position 85.2760736196319% 41.37931034482759%

.svg-notification-dims
	width 24px
	height 24px

.svg-pencil
	@extend $svg-common
	background-position 85.2760736196319% 62.06896551724138%

.svg-pencil-dims
	width 24px
	height 24px

.svg-plus
	@extend $svg-common
	background-position 0 100%

.svg-plus-dims
	width 24px
	height 24px

.svg-profile
	@extend $svg-common
	background-position 14.723926380368098% 100%

.svg-profile-dims
	width 24px
	height 24px

.svg-remove
	@extend $svg-common
	background-position 29.447852760736197% 100%

.svg-remove-dims
	width 24px
	height 24px

.svg-reset
	@extend $svg-common
	background-position 44.171779141104295% 100%

.svg-reset-dims
	width 24px
	height 24px

.svg-search
	@extend $svg-common
	background-position 58.895705521472394% 100%

.svg-search-dims
	width 24px
	height 24px

.svg-settings
	@extend $svg-common
	background-position 73.61963190184049% 100%

.svg-settings-dims
	width 24px
	height 24px

.svg-share
	@extend $svg-common
	background-position 100% 0

.svg-share-dims
	width 24px
	height 24px

.svg-tick
	@extend $svg-common
	background-position 100% 20.689655172413794%

.svg-tick-dims
	width 24px
	height 24px

.svg-top-request
	@extend $svg-common
	background-position 100% 41.37931034482759%

.svg-top-request-dims
	width 24px
	height 24px

.svg-vkontakte
	@extend $svg-common
	background-position 100% 62.06896551724138%

.svg-vkontakte-dims
	width 24px
	height 24px

