<lm-header></lm-header>
<div class="page-wrapper with-nav-bar">
  <div class="header">
    <h1 class="page-title">Блог</h1>
  </div>
  <div class="content">
    <div class="blog" *ngFor="let posts of blogPost">
      <div class="blog__post">
        <div class="singlePost">
          <img [src]="posts.img" class="blog__img">
        </div>
        <h2 class="blog__title" (click)="choosePost(posts)">{{posts.title}}</h2>
        <p class="blog__text">
          {{posts.content | truncute:140}}
        </p>
      </div>
    </div> 
    
    
    <!-- <p>{{bob.name}}</p>
    <input type="text" [(ngModel)]="bob.name" value="bob.name">
    <button (click)=cleanText($event)>clean text</button>
    <input type="text" [(ngModel)]="name" value="name">
    <input type="number" [(ngModel)]="age" value="age">

    <div>Выбранное имя: {{dog}}</div>`
    <lm-blog-child (onChanged)="onChanged($event)" [(dogName)]="dog" [userName]="name" [userAge]="age">
    </lm-blog-child>

    <div>counter:{{clicks}}</div> -->

  </div>
  <lm-navbar></lm-navbar>
</div>