@import '../_variables.styl'

.dropdown
  height: 50px
.dropdown-toggle
  display: flex
  align-items: center
  justify-content: center
  font-size: 16px
  font-weight: 500
  line-height: 30px
  letter-spacing: -0.5px
  text-align: left
  color: $black
  padding: 10px 30px
  box-sizing: border-box
  height: 100%
  lm-svg-icon
    transform: rotate(90deg)
    margin-left: 15px
    color: $red