.icon
  display inline-block
  width 1em
  height 1em
  stroke-width 0
  stroke currentColor
  fill currentColor

.icon-arrow_left
  width 0.5478515625em

.icon-arrow_right
  width 0.5556640625em

.icon-burger
  width 1.4541015625em

.icon-cross
  width 1.029296875em

.icon-logo
  width 0.7373046875em

.icon-quotes
  width 1.375em

.icon-read
  width 1.5625em