@import '../_variables.styl'

.radio
  position: relative
  display: flex
  justify-content: space-between
  box-sizing: border-box
  flex-direction: column
  padding: 15px 0 22px
  border-bottom: 1px solid $beige
  background: #fff
  &__description
    display: block
    font-family: 'FuturaPT-Medium'
    line-height: 16px
    font-size: 12px
    font-weight: 500
    letter-spacing: -0.1px
    color: $gray-light

  input[type="radio"]
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

  input[type="radio"] + .radio__label
    display: block
    padding-right: 30px
    position: relative
    cursor: pointer
    line-height: 30px
    font-family: 'FuturaPT-Book'
    font-size: 24px
    letter-spacing: -0.2px
    color: $black
  input[type="radio"] + .radio__label:before
    width: 26px
    height: 26px
    border: solid 1px $beige
    box-sizing: border-box
    border-radius: 50%
    position: absolute
    right: 0
    top: 50%
    margin-top: -13px
    content: ""
    transition: 0.3s
  input[type="radio"]:checked + .radio__label:before
    border-color: $red

  input[type="radio"] + .radio__label:after
    position: absolute
    top: 50%
    right: 0
    margin-top: -4px
    margin-right: 9px
    width: 8px
    height: 8px
    border-radius: 50%
    transition: 0.3s
    background: transparent
    content: ""
  input[type="radio"] + .radio__label:after:hover
    color: $gray-light

  input[type="radio"]:checked + .radio__label
    color: $elements-dark

  input[type="radio"]:checked + .radio__label:after
    background: $red

  // Disabled radio
  input[type="radio"]:disabled + .radio__label
    &:checked
      cursor: default

  input[type="radio"]:disabled
    &:checked + .radio__label svg
      background: #fff