$svg-common 
	background url("svg/sprite.css-5b452cb1.svg") no-repeat

.svg-add
	@extend $svg-common
	background-position 34.53237410071942% 62.5%

.svg-add-dims
	width 24px
	height 24px

.svg-add-disabled
	@extend $svg-common
	background-position 69.06474820143885% 62.5%

.svg-add-disabled-dims
	width 24px
	height 24px

.svg-arrow-right
	@extend $svg-common
	background-position 17.26618705035971% 25%

.svg-arrow-right-dims
	width 24px
	height 24px

.svg-camera
	@extend $svg-common
	background-position 34.53237410071942% 25%

.svg-camera-dims
	width 24px
	height 24px

.svg-collections
	@extend $svg-common
	background-position 51.798561151079134% 25%

.svg-collections-dims
	width 24px
	height 24px

.svg-cross
	@extend $svg-common
	background-position 69.06474820143885% 25%

.svg-cross-dims
	width 24px
	height 24px

.svg-eye
	@extend $svg-common
	background-position 0 43.75%

.svg-eye-dims
	width 24px
	height 24px

.svg-facebook
	@extend $svg-common
	background-position 17.26618705035971% 43.75%

.svg-facebook-dims
	width 24px
	height 24px

.svg-filter
	@extend $svg-common
	background-position 34.53237410071942% 43.75%

.svg-filter-dims
	width 24px
	height 24px

.svg-home
	@extend $svg-common
	background-position 51.798561151079134% 43.75%

.svg-home-dims
	width 24px
	height 24px

.svg-instagram
	@extend $svg-common
	background-position 69.06474820143885% 43.75%

.svg-instagram-dims
	width 24px
	height 24px

.svg-like-solid
	@extend $svg-common
	background-position 0 62.5%

.svg-like-solid-dims
	width 24px
	height 24px

.svg-like-stroke
	@extend $svg-common
	background-position 17.26618705035971% 62.5%

.svg-like-stroke-dims
	width 24px
	height 24px

.svg-logo-footer
	@extend $svg-common
	background-position 0 0

.svg-logo-footer-dims
	width 139px
	height 32px

.svg-minus
	@extend $svg-common
	background-position 51.798561151079134% 62.5%

.svg-minus-dims
	width 24px
	height 24px

.svg-mobile-nav
	@extend $svg-common
	background-position 0 25%

.svg-mobile-nav-dims
	width 24px
	height 24px

.svg-next
	@extend $svg-common
	background-position 0 81.25%

.svg-next-dims
	width 24px
	height 24px

.svg-next-sign
	@extend $svg-common
	background-position 17.26618705035971% 81.25%

.svg-next-sign-dims
	width 24px
	height 24px

.svg-notification
	@extend $svg-common
	background-position 34.53237410071942% 81.25%

.svg-notification-dims
	width 24px
	height 24px

.svg-pencil
	@extend $svg-common
	background-position 51.798561151079134% 81.25%

.svg-pencil-dims
	width 24px
	height 24px

.svg-plus
	@extend $svg-common
	background-position 69.06474820143885% 81.25%

.svg-plus-dims
	width 24px
	height 24px

.svg-profile
	@extend $svg-common
	background-position 100% 0

.svg-profile-dims
	width 24px
	height 24px

.svg-remove
	@extend $svg-common
	background-position 100% 18.75%

.svg-remove-dims
	width 24px
	height 24px

.svg-reset
	@extend $svg-common
	background-position 100% 37.5%

.svg-reset-dims
	width 24px
	height 24px

.svg-search
	@extend $svg-common
	background-position 100% 56.25%

.svg-search-dims
	width 24px
	height 24px

.svg-settings
	@extend $svg-common
	background-position 100% 75%

.svg-settings-dims
	width 24px
	height 24px

.svg-share
	@extend $svg-common
	background-position 0 100%

.svg-share-dims
	width 24px
	height 24px

.svg-tick
	@extend $svg-common
	background-position 17.26618705035971% 100%

.svg-tick-dims
	width 24px
	height 24px

.svg-top-request
	@extend $svg-common
	background-position 34.53237410071942% 100%

.svg-top-request-dims
	width 24px
	height 24px

.svg-vkontakte
	@extend $svg-common
	background-position 51.798561151079134% 100%

.svg-vkontakte-dims
	width 24px
	height 24px

