// Media query screen sizes
$mobile-portrait = 320px
$mobile-landscape = 480px
$tablet-portrait = 768px
$tablet-landscape = 1024px
$desktop = 1280px
$middle-desktop = 1366px
$large-desktop = 1680px


// Color variables
$black = #111111
$gray = #888888
$gray-dark = #4d4d4d
$gray-light = #c3c3c3
$beige = #e5e5e5
$red =  #ff3837


// Color variables for social
$facebook = #3b5999
$facebook-active = #314d8b
$instagram = #4c75a3
$instagram-active = #3d6899
$vkontakte = #4f7ea8
$vkontakte-active = #356289


@import '_mixins.styl'
@import '_common.styl'

